PORT=3001
JWT_SECRET=supersecretkey
AUTH_LOGIN_URL=http://localhost:4001
AUTH_REGISTER_URL=http://localhost:4002
OTP_SERVICE_URL=http://localhost:8001
USER_PROFILE_URL=http://localhost:4003
BOOK_CATALOG_URL=http://localhost:8002
ORDER_SERVICE_URL=http://localhost:4004
PAYMENT_SERVICE_URL=http://localhost:8003
ADMIN_SERVICE_URL=http://localhost:4005
CHATBOT_SERVICE_URL=http://localhost:8010
